body {
    background-color: rgb(17, 114, 12);
}
h1 {
    text-align: center;
    color: white;
}
.setor-iscas {
    width: 30rem;
    height: 30rem;
    float: right;
    background-color: white;
    margin-right: 5%;
    margin-bottom: 5%;
}   
.imgIscas {
    width: 20rem;
    height: 20rem;
    margin-left: 15%;
}
.nome-isca {
    text-align: center;
    margin-top: 5%;
}