
@{
    ViewData["Title"] = "Guaruja";
}
<head>
    <link rel="stylesheet" href="~/css/Guaruja.css" />
</head>
<h1>Guaruja</h1>
<div class="setor-guaruja">
    <img class="img-guaruja" src="./img/guaruja.jpg" />
    <p class="txt-guaruja"></p>
    <p class="txt-guaruja"></p>
    <p class="txt-guaruja"></p>
</div>
<div class="setor-guaruja">
    <h3 class="nome-guaruja">Praia do tombo</h3>
</div>
<div class="setor-guaruja">
    <h3 class="nome-guaruja">Praia das Astúrias</h3>
</div>