
@{
    ViewData["Title"] = "Locais";
}
<head>
    <link rel="stylesheet" href="~/css/Locais.css" />
</head>
<h1>Locais</h1>
<div class="setor-locais">
    <h2 class="ttl-locais">Santos</h2>
    <img src="~/img/Santos4.jpg" class="imgLocais"/>
    <h3>Deck do Pescador</h3>
    <img src="~/img/Santos5.jpg" class="imgLocais"/>
    <h3>Clube de Pesca de Santos</h3>
</div>
<div class="setor-locais">
    <h2 class="ttl-locais">Guaruja</h2>
    <img src="~/img/Guaruja3.jpg" class="imgLocais"/>
    <h3>Praia das Astúrias</h3>
    <img src="~/img/Guaruja2.jpg" class="imgLocais"/>
    <h3>Praia do Tombo</h3>
</div>

